:root {
    /* --pin-pallete-bg: #fafaf1; */
    --pin-pallete-bg: #fff;
    --pin-pallete-primary: #204782;
    --pin-pallete-secondary: #57AAFF;
    --pin-pallete-accent: #D5A419;

    --bs-body-bg: var(--pin-pallete-bg);
}

nav.navbar {
    background-color: var(--pin-pallete-bg);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--pin-pallete-primary);
    font-weight: 400;
    /*
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--pin-pallete-primary);
    text-decoration-style: dashed;
    text-underline-offset: 2px;
    */
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: var(--pin-pallete-primary);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--pin-pallete-accent);
}

.scrolled-down {
    transform: translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0); transition: all 0.3s ease-in-out;
}

.img-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .4s ease;
    /* background-color: rgba(213, 164, 25, 0); */
    background-color: rgba(32, 71, 130, 0);
}

.overlay-text {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #fff;
    opacity: 0;
}

.img-container:hover .overlay {
    /* background-color: rgba(213, 164, 25, 0.6); */
    background-color: rgb(32, 71, 130, 0.6);
}

.img-container:hover .overlay-text {
    opacity: 1;
}

a.my-link {
    color: var(--pin-pallete-primary);
    text-decoration: none;
}

a.my-link:hover {
    color: var(--pin-pallete-accent);
}